<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">ADIF File</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="file" id="adif_file" name="adif_file" accept=".adi,.adif">
            </p>
        </div>
    </div>
</div>
