<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Before UTC</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="date" id="date_before" name="date_before" required />
            </p>
        </div>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="time" id="time_before" name="time_before" step="1" required />
            </p>
        </div>
    </div>
</div>
