                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="callsign">Callsign</label>
                        </div>
                        <div class="form-col-input">
                            <input class="callsign callsign_entry" id="callsign" type="text" name="callsign" size="10" autofocus required autocomplete="off" />
                            <div id="recent_qsos"></div>
                        </div>
                    </div>
