
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="contacted_op">Contacted Operator's Callsign</label>
                        </div>
                        <div class="form-col-input">
                            <input class="callsign callsign_entry" id="contacted_op" type="text" name="contacted_op" size="10" autocomplete="off" />
                            <button type="button" class="skcc-roster-lookup" data-src="#contacted_op">SKCC Lookup</button>
                        </div>
                    </div>

