<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Contacted Operator</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input callsign callsign_entry" id="contacted_op" type="text" name="contacted_op" required autocomplete="off" value="{{qso.contacted_op}}" />
            </p>
        </div>
    </div>
</div>
