
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="contest">Contest</label>
                        </div>
                        <div class="form-col-input">
                            <select name="contest" data-autoselect="{{qso.contest}}" required>
                                {{#each enums.ContestID}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

