        <footer class="footer has-text-centered">
            <div class="content">
                <p>
                    Copyright &copy; 2023, 2024, 2025 Thomas Cort
                </p>
            </div>
        </footer>
