                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">File Format</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <span class="select">
                                        <select name="fmt" id="fmt">
                                            <option value="adi">ADIF</option>
                                            <option value="json">JSON</option>
                                        </select>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
