<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Frequency</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="number" id="frequency" name="frequency" size="8" min="0" max="30000" step=".000001" placeholder="MHz" value="{{qso.frequency}}" required />
            </p>
        </div>
    </div>
</div>
