
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="mode">Mode</label>
                        </div>
                        <div class="form-col-input">
                            <select name="mode" data-autoselect="{{qso.mode}}" required>
                                {{#each enums.Mode}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

