<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">My SOTA / My POTA</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input type="text" class="input" id="my_sota" name="my_sota" placeholder="My Summit Reference" value="{{qso.my_sota}}" />
            </p>
        </div>
        <div class="field">
            <p class="control is-expanded">
                <input type="text" class="input" id="my_pota" name="my_pota" placeholder="My Park Reference" value="{{qso.my_pota}}" />
            </p>
        </div>
    </div>
</div>
