
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="my_sota">My SOTA</label>
                        </div>
                        <div class="form-col-input">
                            <input type="text" id="my_sota" name="my_sota" placeholder="My SOTA Reference" value="{{qso.my_sota}}" />
                        </div>
                    </div>

