<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Name / QTH</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input type="text" class="input" id="name" name="name" placeholder="Contacted Operator's Name" value="{{qso.name}}" />
            </p>
        </div>
        <div class="field">
            <p class="control is-expanded">
                <input type="text" class="input" id="spc" name="spc" placeholder="State/Province/Country" value="{{qso.spc}}" />
            </p>
        </div>
    </div>
</div>
