
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="operator">Operator</label>
                        </div>
                        <div class="form-col-input">
                            <input class="callsign callsign_entry" id="operator" type="text" name="operator" size="10" required autocomplete="off" value="{{qso.operator}}" />
                        </div>
                    </div>

