
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="pota">Their POTA</label>
                        </div>
                        <div class="form-col-input">
                            <input type="text" id="pota" name="pota" placeholder="Their POTA Reference" value="{{qso.pota}}" />
                        </div>
                    </div>

