<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Power</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="number" id="power" name="power" size="8" min="0" max="10000" step=".001" placeholder="Watts" value="{{qso.power}}" required />
            </p>
        </div>
    </div>
</div>
