
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="power">Power</label>
                        </div>
                        <div class="form-col-input">
                            <input type="number" id="power" name="power" size="8" min="0" max="10000" step=".001" placeholder="Watts" value="{{qso.power}}" required />
                        </div>
                    </div>

