<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Remarks</label>
        <p class="is-size-7">(<a id="remarks_save" href="#">Save as Template</a>)</p>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <textarea class="textarea" name="remarks" id="remarks">{{qso.remarks}}</textarea>
            </p>
        </div>
    </div>
</div>
