
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="rst">RST Sent / Rcvd</label>
                        </div>
                        <div id="rst" class="form-col-input">
                            <input type="text" id="rst_sent" name="rst_sent" pattern="-?[0-9]{1,3}" size="3" maxlength="3" placeholder="Signal Report" value="{{qso.rst_sent}}" required /> /
                            <input type="text" id="rst_rcvd" name="rst_rcvd" pattern="-?[0-9]{1,3}" size="3" maxlength="3" placeholder="Signal Report" value="{{qso.rst_rcvd}}" required />
                        </div>
                    </div>
