<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Since UTC</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="date" id="date_since" name="date_since" required />
            </p>
        </div>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="time" id="time_since" name="time_since" step="1" required />
            </p>
        </div>
    </div>
</div>
