
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="skcc">SKCC</label>
                        </div>
                        <div class="form-col-input">
                            <input type="text" id="skcc" name="skcc" placeholder="Member NR" value="{{qso.skcc}}" />
                        </div>
                    </div>

