<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">SOTA / POTA</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input type="text" class="input" id="sota" name="sota" placeholder="Summit Reference" value="{{qso.sota}}" />
            </p>
        </div>
        <div class="field">
            <p class="control is-expanded">
                <input type="text" class="input" id="pota" name="pota" placeholder="Park Reference" value="{{qso.pota}}" />
            </p>
        </div>
    </div>
</div>
