
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="sota">Their SOTA</label>
                        </div>
                        <div class="form-col-input">
                            <input type="text" id="sota" name="sota" placeholder="Their SOTA Reference" value="{{qso.sota}}" />
                        </div>
                    </div>

