
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="spc">State/Province/Country</label>
                        </div>
                        <div class="form-col-input">
                            <input type="text" id="spc" name="spc" size="3" placeholder="QTH" value="{{qso.spc}}" />
                        </div>
                    </div>
