
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="station_callsign">Station Callsign</label>
                        </div>
                        <div class="form-col-input">
                            <input class="callsign callsign_entry" id="station_callsign" type="text" name="station_callsign" size="10" required autocomplete="off" value="{{qso.station_callsign}}" />
                        </div>
                    </div>

