<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Station Callsign</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input callsign callsign_entry" id="station_callsign" type="text" name="station_callsign" required autocomplete="off" value="{{qso.station_callsign}}" />
            </p>
        </div>
    </div>
</div>
