<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Amateur Radio Station Logs</title>

        <link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/tcort.css" />
        <link rel="stylesheet" href="/css/robotomono-regular.css" />
    </head>
    <body>

        <header>
            <h1>Amateur Radio Station Logs</h1>
            <nav>
                <ul>
                    <li><a href="/logs/new">Enter a QSO</a></li>
                    <li><a href="/logs/import">Import QSOs</a></li>
                    <li><a href="/logs/export">Export QSOs</a></li>
                    <li><a href="/logs">View all QSOs</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>Export</h2>
                <p>Export QSO data in a given format that is within the specified date range.</p>
                <form method="get" action="/logs">
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="fmt">Format</label>
                        </div>
                        <div class="form-col-input">
                            <select id="fmt" name="fmt">
                                <option value="adi">ADIF</option>
                                <option value="cab">Cabrillo</option>
                                <option value="csv">CSV</option>
                                <option value="json">JSON</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="since">Since UTC</label>
                        </div>
                        <div class="form-col-input" id="since">
                            <input type="date" id="date_since" name="date_since" required /> @
                            <input type="time" id="time_since" name="time_since" step="1" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="before">Before UTC</label>
                        </div>
                        <div class="form-col-input" id="before">
                            <input type="date" id="date_before" name="date_before" required /> @
                            <input type="time" id="time_before" name="time_before" step="1" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            <label for="station_callsign">Station Callsign</label>
                        </div>
                        <div class="form-col-input">
                            <select name="station_callsign" id="station_callsign">
                                <option value="%">- Any -</option>
                                {{#each station_callsigns}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-label">
                            &nbsp;
                            <input type="hidden" name="page" value="0">
                            <input type="hidden" name="pageSize" value="1000000">
                            <input type="hidden" name="dl" value="1" />
                            <input type="hidden" name="order" value="asc" />
                        </div>
                        <div class="form-col-input">
                            <input type="submit" value="Export"/>
                        </div>
                    </div>
                </form>
            </section>
        </main>

        <footer>
            <p>
                Copyright &copy; 2023 Thomas Cort
            </p>
        </footer>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/tcort.js"></script>
        <script src="/js/logs.js"></script>

    </body>
</html>
