<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Create | VA2NW Logger</title>

        <link rel="icon" href="/favicon.ico">

        {{> stylesheets }}

    </head>
    <body>

        {{> header }}

        <main>
            <section class="section">
                <h1 class="title">Create</h1>
                <p class="block">Enter details of a recent QSO</p>
                <p class="block">
                    <form method="get" action="/qsos/new">
                        <select name="logger_mode">
                            <option value="default" {{#if logger_mode_default}}selected{{/if}}>Default</option>
                            <option value="contest" {{#if logger_mode_contest}}selected{{/if}}>Contest</option>
                            <option value="sst"     {{#if logger_mode_sst}}selected{{/if}}>K1USN Slow Speed Test</option>
                            <option value="skcc"    {{#if logger_mode_skcc}}selected{{/if}}>SKCC</option>
                        </select>
                    </form>
                </p>
                <p class="block autosave"><input type="checkbox" id="now" name="now" /> Automatic Timekeeping</p>
                <form method="post" action="/qsos?logger_mode={{logger_mode}}" class="autosave">

                    {{#if logger_mode_default}}
                        {{> station_callsign }}
                        {{> freq_mode_pwr }}
                        {{> timeon }}
                        {{> timeoff }}
                        {{> callsign }}
                        {{> rst }}
                        {{> spc_name }}
                        {{> remarks }}
                    {{/if}}
                    {{#if logger_mode_sst}}
                        {{> freq_mode_pwr }}
                        {{> callsign }}
                        {{> name_spc }}
                        {{> timeon }}
                        {{> timeoff }}
                        {{> station_callsign }}
                        <input type="hidden" name="remarks" value="K1USN Slow Speed Test" />
                    {{/if}}
                    {{#if logger_mode_contest}}
                        {{> freq_mode_pwr }}
                        {{> callsign }}
                        {{> remarks }}
                        {{> rst }}
                        {{> timeon }}
                        {{> timeoff }}
                        {{> station_callsign }}
                    {{/if}}
                    {{#if logger_mode_skcc}}
                        {{> station_callsign }}
                        {{> freq_mode_pwr }}
                        {{> timeon }}
                        {{> timeoff }}
                        {{> callsign_skcc }}
                        {{> rst }}
                        {{> spc_name }}
                        {{> remarks }}
                    {{/if}}

                    {{> submit }}
                </form>
            </section>
        </main>

        {{> footer }}

        {{> scripts }}

    </body>
</html>
