<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Import | VA2NW Logger</title>

        <link rel="icon" href="/favicon.ico">

        {{> stylesheets }}

    </head>
    <body>

        {{> header }}

        <main>
            <section class="section">
                <h1 class="title">Import</h1>
                <p class="block">Load new QSO data from another logging program.</p>
                <form method="post" encType="multipart/form-data" action="/qsos">
                    {{> adif_file }}
                    {{> submit }}
                </form>
            </section>
        </main>

        {{> footer }}

        {{> scripts }}

    </body>
</html>
