<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Export | VA2NW Logger</title>

        <link rel="icon" href="/favicon.ico">

        {{> stylesheets }}

    </head>
    <body>

        {{> header }}

        <main>
            <section class="section">
                <h1 class="title">Export</h1>
                <p class="block">Dump QSO data for another logging program or as a backup.</p>
                <form method="get" action="/qsos" class="autosave">

                    {{> since_utc }}
                    {{> before_utc }}
                    {{> station_callsign_select }}
                    {{> format_select }}

                    <input type="hidden" name="page" value="0">
                    <input type="hidden" name="pageSize" value="1000000">
                    <input type="hidden" name="dl" value="1">

                    {{> submit }}
                </form>
            </section>
        </main>

        {{> footer }}

        {{> scripts }}

    </body>
</html>
