<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Create | VA2NW Logger</title>

        <link rel="icon" href="/favicon.ico">

        {{> stylesheets }}

    </head>
    <body>

        {{> header }}

        <main>
            <section class="section">
                <h1 class="title">Create</h1>
                <p class="block">Enter details of a recent QSO</p>
                <p class="block"><input type="checkbox" id="now" name="now" /> Automatic Timekeeping</p>
                <form method="post" action="/qsos" class="autosave">

                    {{> station_callsign }}
                    {{> frequency }}
                    {{> mode }}
                    {{> power }}
                    {{> timeon }}
                    {{> timeoff }}
                    {{> callsign }}
                    {{> rst }}
                    {{> remarks }}

                    {{> submit }}
                </form>
            </section>
        </main>

        {{> footer }}

        {{> scripts }}

    </body>
</html>
