<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Edit | VA2NW Logger</title>

        <link rel="icon" href="/favicon.ico">

        {{> stylesheets }}

    </head>
    <body>

        {{> header }}

        <main>
            <section class="section">
                <h1 class="title">Edit</h1>
                <p class="block">Edit the details of this QSO.</p>
                <form method="post" action="/qsos/{{qso.qso_id}}?_method=PUT">

                    {{> station_callsign }}
                    {{> freq_mode_pwr }}
                    {{> timeon }}
                    {{> timeoff }}
                    {{> callsign }}
                    {{> rst }}
                    {{> spc_name }}
                    {{> remarks }}

                    {{> submit }}
                </form>
            </section>
        </main>

        {{> footer }}

        {{> scripts }}

    </body>
</html>
